<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>公告</title>
<style type="text/css">
<!--
.STYLE7 {color: #FFFFFF}
.STYLE9 {color: #999999}
body {
	background-color: #F6C491;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.STYLE19 {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
.STYLE23 {color: #FFFFFF; font-weight: bold; }
.STYLE24 {
	color: #FFFF00;
	font-weight: bold;
}
-->
</style></head>

<body>
<table width="100%" border="0" align="center" cellspacing="10" bordercolor="#FFFFFF" bgcolor="#D9251C">
  <tr>
    <td height="30"><span class="STYLE19">《奔跑吧兄弟：我是车神》 v2.3.0</span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr>
    <td><img src="img/banner_red.png" width="400" height="80" border="1" /></td>
  </tr>
  <tr>
    <td><span class="STYLE24">贺新春，超值红包天天送！</span></td>
  </tr>
  <tr bgcolor="#F6C491">
    <td> <p> 2015年1月30日～2月28日，每天登录游戏，可免费开启价值20宝石的红包1次，豪车奖品送不停。<br />更有机会接到【小贤】的神秘挑战书，赚取更多金币和明星名牌！<br />
	此外【小贤】也会在决战首尔登场！
    </p>    </td>
  </tr>


  <tr>
    <td><img src="img/banner_vs.png" width="400" height="80" border="1" /></td>
  </tr>
  <tr>
    <td><span class="STYLE24">万众期待，对战模式全新开放！</span></td>
  </tr>
  <tr bgcolor="#F6C491">
    <td><p>千呼万唤始出来，各位车神翘首以盼的对战模式终于开放！<br />
    你还在等什么，马上驾驶爱车去和全国千万玩家一较高下吧！看看谁才是真正的车神！</p></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr>
    <td><img src="img/banner_soul_v2.png" width="400" height="80" border="1" /></td>
  </tr>
  <tr>
    <td><span class="STYLE7"><strong>人见人爱，恺少加入首尔挑战赛！</strong></span></td>
  </tr>
   <tr>
     <td><img src="img/BANNER-4.png" width="400" height="80" border="1" /></td>
   </tr>
   <tr>
     <td><span class="STYLE7"><strong>晨哥来了！男神现身秋名山！</strong></span></td>
   </tr>
   <tr>
     <td><img src="img/BANNER-2.png" width="400" height="80" border="1" /></td>
   </tr>
   <tr>
    <td><span class="STYLE23">全明星入驻游戏，闪亮变身新车神！</span></td>
  </tr>
  <tr>
    <td><img src="img/BANNER-1.png" width="400" height="80" border="1" /></td>
  </tr>
  <tr>
    <td><span class="STYLE23"> 每逢周六、日，决战首尔的每场比赛获得前三名，都将100%获得额外的轮胎奖励1个，挑战冲榜不间断、根本停不下来！	    </span></td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr>
    <td><span class="STYLE9">更多精彩活动，请参看游戏主画面提示</span></td>
  </tr>
</table>
</body>
</html>
