<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>公告</title>
<style type="text/css">
<!--
body {
	background-color: #FFFFFF;
}
.STYLE13 {	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
.STYLE16 {
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
.STYLE18 {font-size: 12px; font-weight: bold; color: #999999; }
.STYLE19 {font-size: 18px}
-->
</style></head>

<body>
<table width="95%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
  <tr>
    <td align="center"><p><img src="img/ui_title_logo.png"  /></p>
    </td>
  </tr>
  <tr bgcolor="#3BAA24">
    <td align="center"><span class="STYLE13"><br />
        <span class="STYLE19">    《玩玩车神》震撼上线，炫酷爽快，极速体验！</span><br /><br />
    </span></td>
  </tr>
  <tr>
    <td><p>[2015-1-16] v0.9.0</p>
      <p>《玩玩车神》公测版上线。</p>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td></td>
  </tr>
   <tr bgcolor="#333333">
    <td align="center"><p class="STYLE16">&nbsp;</p>
      <p class="STYLE18">更多精彩活动，请参看游戏主画面提示</p>
     <hr width="90%" noshade="noshade" />     <p class="STYLE16">版权所有 2015 豌豆荚实验室 / 触控科技</p></td>
  </tr>
</table>
</body>
</html>
