<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>公告</title>
<style type="text/css">
<!--
.STYLE4 {color: #FFFF00; font-weight: bold; }
.STYLE7 {color: #FFFFFF}
.STYLE9 {color: #999999}
.STYLE10 {color: #00FFFF; font-weight: bold; }
body {
	background-color: #202020;
}
.STYLE13 {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
-->
</style></head>

<body>
<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
  <tr>
    <td height="30"><span class="STYLE13">《奔跑吧兄弟：我是车神》 v2.4.0</span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr>
    <td height="90" class="STYLE4"><img src="img/banner_vs_ver2.png" alt="" width="400" height="80" /></td>
  </tr>
  <tr>
    <td height="29" class="STYLE4">对战模式奖励大升级，豪车兑换券周周发！</td>
  </tr>
  <tr>
    <td height="29" class="STYLE7"><p class="STYLE7">参与对战模式，获得神车宝箱钥匙奖励，即可开启神车宝箱，赢取赛车兑换券哦~<br />
      还在等什么，快来收集赛车兑换券，兑换你心仪的赛车啦！</p>      </td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr>
    <td height="88"><img src="img/BANNER-1.png" width="400" height="80" /></td>
  </tr>
  <tr>
    <td height="26"><span class="STYLE10">决战首尔·撕牌大战，不再消耗轮胎！轻松收集名牌，根本停不下来！</span></td>
  </tr>
  <tr>
    <td height="5"><hr align="left" width="100%" /></td>
  </tr>
  <tr>
    <td height="88"><img src="img/banner_soul_v2.png" width="400" height="80" /></td>
  </tr>
  <tr>
    <td><p class="STYLE10">人见人爱，恺少加入首尔挑战赛！</p>    </td>
  </tr>
  <tr>
    <td height="4"><hr align="left" width="100%" /></td>
  </tr>
   <tr>
     <td><img src="img/BANNER-2.png" width="400" height="80" /></td>
   </tr>
   <tr>
    <td><p class="STYLE10">全明星入驻游戏，闪亮变身新车神！</p></td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr>
    <td><p class="STYLE4 STYLE9">更多精彩活动，请参看游戏主画面提示</p></td>
  </tr>
</table>
</body>
</html>
