<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>玩家争霸</title>
<style type="text/css">
<!--
.STYLE7 {color: #FFFFFF}
body {
	background-color: #202020;
}
.STYLE12 {color: #FFFFFF; font-weight: bold; }
.STYLE13 {
	color: #FFFF00;
	font-weight: bold;
}
.STYLE15 {color: #FFFF00}
.STYLE18 {font-size: x-large}
-->
</style></head>

<body>
<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
  <tr>
    <td align="center"><img src="img/mm_logo.png" width="143" height="100" /></td>
  </tr>
  <tr>
    <td height="30" align="center"><span class="STYLE12">跑男兄弟驾豪车与你环游世界！</span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr bgcolor="#CC9900">
    <td align="center"><strong>活动简介</strong></td>
  </tr>
  <tr align="left">
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr align="left">
    <td><span class="STYLE7">国内热播综艺节目《奔跑吧！兄弟》正版授权同名手游《奔跑吧兄弟：我是车神》争霸赛正式开启，丰厚大奖ipad air2等你来拿，还有丰富的京东购物卡，话费卡相赠，赶快下载，一起奔跑吧！</span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr bgcolor="#CC9900">
     <td align="center"><strong>活动时间</strong></td>
   </tr>
   <tr>
     <td align="center"><hr align="left" width="100%" /></td>
   </tr>
   <tr>
     <td align="center"><span class="STYLE13">2月6日0时 ～ 2月19日24时</span></td>
   </tr>
   <tr>
     <td align="center"><hr align="left" width="100%" /></td>
   </tr>
    <tr bgcolor="#CC9900">
     <td align="center"><strong>活动奖品</strong></td>
   </tr>
   <tr>
     <td align="center"><hr align="left" width="100%" /></td>
   </tr>
   <tr align="center">
     <td><p class="STYLE15"><span class="STYLE18">第1名：ipad air2<br />
     </span><br />
        第2-4名：200元京东卡<br />
     第5-14名：50元移动话费充值卡</p>     </td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr bgcolor="#CC9900">
    <td align="center"><strong>参与方式</strong></td>
  </tr>
  <tr align="left">
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr align="left">
    <td><span class="STYLE7">1、在移动应用商城下载安装《奔跑吧兄弟：我是车神》，老用户需要更新版本参与活动。<br />
        <br />
      2、在活动期间（2月6日0时 ～ 月19日24时）进入对战模式-&gt;输入账号信息-&gt;进行游戏竞赛-&gt;完成比赛-&gt;刷新排行榜。最终以分数从高到低进行排名。</span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr bgcolor="#CC9900">
    <td align="center"><strong>领奖方式</strong></td>
  </tr>
  <tr align="left">
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr align="left">
    <td><span class="STYLE7">进入对战模式填写手机号码，活动结束后客服人员将联系你收集领奖信息，或进入玩家争霸相关领奖公告进行填写信息：<br />
        <span class="STYLE15"><br />
        QQ群：230590027<br />
      贴吧：玩家争霸<br />
    微信：wanjiazhengba</span></span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr bgcolor="#CC9900">
    <td align="center"><strong>注意事项</strong></td>
  </tr>
  <tr align="left">
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr align="left">
    <td><span class="STYLE7">1、非从移动MM商场下载《奔跑吧兄弟：我是车神》的玩家不享受此次活动权利。<br />
        <br />
      2、严禁利用游戏BUG及任何软件作弊，一经发现取消成绩并禁止参加后续玩家争霸赛。<br />
      <br />
      3、活动结束前务必不要删除该游戏，管理员核实成绩时要求提供成绩截图，以确保真实性（最终获奖情况以官方公布为准）。<br />
      <br />
      4、活动详情、咨询问题QQ群230590027，如需申诉，请在排名公布后两天内，请发邮件至wanjiazhengba@139.com<br />
      <br />
      5、实物奖品在申诉期结束后1个月内发放完毕，虚拟奖品在申诉期结束后1周内发放完毕。<br />
      <br />
      6、活动最终解释权归中国移动应用商场及北京触控科技有限公司所有。</span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
</table>
</body>
</html>
