<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>玩家争霸</title>
<style type="text/css">
<!--
.STYLE7 {color: #FFFFFF}
body {
	background-color: #202020;
}
.STYLE12 {color: #FFFFFF; font-weight: bold; }
.STYLE13 {
	color: #FFFF00;
	font-weight: bold;
}
.STYLE15 {color: #FFFF00}
.STYLE18 {font-size: x-large}
-->
</style></head>

<body>
<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
  <tr>
    <td align="center"><img src="img/mm_logo.png" width="143" height="100" /></td>
  </tr>
  <tr>
    <td height="30" align="center"><span class="STYLE12">奔跑吧兄弟：我是车神春季送好礼！</span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr bgcolor="#CC9900">
    <td align="center"><strong>活动简介</strong></td>
  </tr>
  <tr align="left">
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr align="left">
    <td><span class="STYLE7">价值万元的丰厚大礼包大派送ing！快快关注“中国移动MM应用商场”官方微信公众号（cmmmf10086）即可领取活动兑换码，超多福利，先到先得哦~欢迎关注，更多精彩活动抢先知道！</span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr bgcolor="#CC9900">
     <td align="center"><strong>活动时间</strong></td>
   </tr>
   <tr>
     <td align="center"><hr align="left" width="100%" /></td>
   </tr>
   <tr>
     <td align="center"><span class="STYLE13">3月2日～ 3月16日</span></td>
   </tr>
   <tr>
     <td align="center"><hr align="left" width="100%" /></td>
   </tr>
    <tr bgcolor="#CC9900">
     <td align="center"><strong>活动奖品</strong></td>
   </tr>
   <tr>
     <td align="center"><hr align="left" width="100%" /></td>
   </tr>
   <tr align="center">
     <td><p class="STYLE15"><span class="STYLE18">价值万元的跑男车神大礼包！<br />
     </span><br />
        数量有限，先到先得，送完为止哦！<br />
     </p>     </td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr bgcolor="#CC9900">
    <td align="center"><strong>参与方式</strong></td>
  </tr>
  <tr align="left">
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr align="left">
    <td><span class="STYLE7">关注“中国移动MM应用商场”官方微信公众号（cmmmf10086）即可领取活动兑换码</span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr bgcolor="#CC9900">
    <td align="center"><strong>领奖方式</strong></td>
  </tr>
  <tr align="left">
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr align="left">
    <td><span class="STYLE7">关注“中国移动MM应用商场”官方微信公众号（cmmmf10086）即可领取活动兑换码<br />
        </span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr bgcolor="#CC9900">
    <td align="center"><strong>注意事项</strong></td>
  </tr>
  <tr align="left">
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr align="left">
    <td><span class="STYLE7">
      1、活动最终解释权归中国移动应用商场及北京触控科技有限公司所有。</span></td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
</table>
</body>
</html>
