<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>奖励详情</title>
<style type="text/css">
<!--
body {
	background-color: #0F243E;
}
.STYLE1 {color: #FFFFFF}
.STYLE2 {color: #FFFF00; }
.STYLE3 {color: #00FFFF}
.STYLE4 {color: #00FFFF; font-weight: bold; }
.STYLE6 {color: #FFCCFF; font-weight: bold; }
.STYLE7 {color: #FFCCFF}
.STYLE8 {color: #FF0000}
-->
</style></head>

<body>
<table width="100%" border="1" align="center" cellspacing="0" bordercolor="#FFFFFF">
  <tr>
    <td height="30" colspan="4"><div align="center" class="STYLE2">
      <p><%= date_desc %><br />
     新版来袭，酷狗音乐独家活动！12月12日～19日，参与决战首尔就有几率获得千元话费大奖！排名越高获奖几率越大哦~<br />
          <span class="STYLE8">———— 注意 ————<br />
          </span><span class="STYLE8">领取实物奖励须上传电话号码<br />
            以便客服人员与您联系
            </span>
          <br />
      </p>
      </div></td>
  </tr>
  
 <tr>
 <td height="40" rowspan="3" bgcolor="#000099"><div align="center" class="STYLE1">
      <p class="STYLE2"><strong>酷狗音乐独家活动</strong></p>
    
          </div>
    <td height="40" bgcolor="#000099"><div align="center"><img src="img/icon_hf_500.png" /></div></td>
    <td height="40" bgcolor="#000099"><div align="center" class="STYLE1">500元话费充值卡</div></td>
    <td height="40" bgcolor="#000099"><div align="center" class="STYLE2"><strong>×1</strong></div></td>
  </tr>
  <tr>   
    <td height="40" bgcolor="#000099"><div align="center"><img src="img/icon_car.png" /></div></td>
    <td height="40" bgcolor="#000099"><div align="center" class="STYLE1">正版赛车模型</div></td>
    <td height="40" bgcolor="#000099"><div align="center" class="STYLE2"><strong>×3</strong></div></td>
  </tr>
  <tr>   
    <td height="40" bgcolor="#000099"><div align="center"><img src="img/icon_hf_100.png" /></div></td>
    <td height="40" bgcolor="#000099"><div align="center" class="STYLE1">100元话费充值卡</div></td>
    <td height="40" bgcolor="#000099"><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
 <tr>
    <td height="40" rowspan="7" bgcolor="#000033"><div align="center" class="STYLE1">
      <p class="STYLE3"><strong>第<span class="STYLE2">1</span>名 </strong></p>
        <p class="STYLE3"><strong>奔跑兄弟</strong></p>
        <p class="STYLE3"><strong>至尊礼包</strong></p>
          </div>
    <div align="center" class="STYLE1"></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/icon_bike1.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE3"> 酷炫智能体感平衡车</div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE2"><strong>×1</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE1">兄弟宝箱钥匙</div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE2"><strong>×50</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_gem.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE1">宝石</div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE2"><strong>×200</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE1">金币</div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE2"><strong>×100万</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_item2.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><span class="STYLE1">跑男狂飙</span></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE2"><strong>×30</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_item3.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><span class="STYLE1">追踪飞弹</span></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE2"><strong>×30</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_item1.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><span class="STYLE1">量子幻影</span></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE2"><strong>×30</strong></div></td>
  </tr>
  
 <tr>
    <td height="40" rowspan="7"><div align="center" class="STYLE1">
      <p class="STYLE3"><strong>第<span class="STYLE2">2～10</span>名 </strong></p>
        <p class="STYLE3"><strong>奔跑兄弟</strong></p>
        <p class="STYLE3"><strong>荣誉礼包</strong></p>
          </div>
    <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div></td>
    <td height="40"><div align="center"><img src="img/icon_hf_500.png" /></div></td>
    <td height="40"><div align="center" class="STYLE3"> 500元话费充值卡</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×1</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">兄弟宝箱钥匙</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×30</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_gem.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">宝石</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×50</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">金币</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×50万</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item2.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">跑男狂飙</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×20</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item3.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">追踪飞弹</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×20</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item1.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">量子幻影</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×20</strong></div></td>
  </tr>
  
  <tr>
    <td height="40" rowspan="6" bgcolor="#000033"><div align="center" class="STYLE1">
      <p class="STYLE3"><strong>第<span class="STYLE2">11～50</span>名 </strong></p>
        <p class="STYLE3"><strong>奔跑兄弟</strong></p>
        <p class="STYLE4">大礼包</p>
          </div>
    <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/icon_hf_100.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE3">100元话费充值卡</div></td>
    <td height="40" bgcolor="#000033" ><div align="center" class="STYLE2"><strong>×1</strong></div></td>
  </tr>
   <tr>
   <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE1"> 兄弟宝箱钥匙</div></td>
    <td height="40" bgcolor="#000033" ><div align="center" class="STYLE2"><strong>×20</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE1">金币</div></td>
    <td height="40" bgcolor="#000033" ><div align="center" class="STYLE2"><strong>×10万</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_item2.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><span class="STYLE1">跑男狂飙</span></div></td>
    <td height="40" bgcolor="#000033" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_item3.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><span class="STYLE1">追踪飞弹</span></div></td>
    <td height="40" bgcolor="#000033" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_item1.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><span class="STYLE1">量子幻影</span></div></td>
    <td height="40" bgcolor="#000033" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40" rowspan="5"><div align="center" class="STYLE1">
      <p class="STYLE3"><strong>第<span class="STYLE2">51～100</span>名 </strong></p>
      <p class="STYLE3"><strong>车神礼包</strong></p>
    </div>
    <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div></td>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1"> 兄弟宝箱钥匙</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×15</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">金币</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×8万</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item2.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">跑男狂飙</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item3.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">追踪飞弹</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item1.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">量子幻影</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40" rowspan="5" bgcolor="#000033"><div align="center" class="STYLE1">
      <p class="STYLE3"><strong>第<span class="STYLE2">101～1000</span>名 </strong></p>
      <p class="STYLE3"><strong>车王礼包</strong></p>
    </div>
    <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE1"> 兄弟宝箱钥匙</div></td>
    <td height="40" bgcolor="#000033" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center" class="STYLE1">金币</div></td>
    <td height="40" bgcolor="#000033" ><div align="center" class="STYLE2"><strong>×5万</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_item2.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><span class="STYLE1">跑男狂飙</span></div></td>
    <td height="40" bgcolor="#000033" ><div align="center" class="STYLE2"><strong>×5</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_item3.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><span class="STYLE1">追踪飞弹</span></div></td>
    <td height="40" bgcolor="#000033" ><div align="center" class="STYLE2"><strong>×5</strong></div></td>
  </tr>
  <tr>
    <td height="40" bgcolor="#000033"><div align="center"><img src="img/ui_championship_reward_icon_item1.png" /></div></td>
    <td height="40" bgcolor="#000033"><div align="center"><span class="STYLE1">量子幻影</span></div></td>
    <td height="40" bgcolor="#000033" ><div align="center" class="STYLE2"><strong>×5</strong></div></td>
  </tr>
  <tr>
    <td height="40" rowspan="2"><div align="center" class="STYLE1">
      <p class="STYLE3"><strong>第<span class="STYLE2">1001</span>名以下</strong></p>
      <p class="STYLE3"><strong>车手礼包</strong></p>
    </div>
    <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div></td>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1"> 兄弟宝箱钥匙</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×3</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">金币</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×2万</strong></div></td>
  </tr>
</table>
</body>
</html>
