<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>公告</title>
<style type="text/css">
<!--
.STYLE2 {color: #FFFF00; }
.STYLE4 {color: #FFFF00; font-weight: bold; }
.STYLE6 {
	color: #FFFFFF;
	font-weight: bold;
}
.STYLE7 {color: #FFFFFF}
.STYLE9 {color: #999999}
.STYLE10 {color: #00FFFF; font-weight: bold; }
body {
	background-color: #202020;
}
-->
</style></head>

<body>
<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
  <tr>
    <td><img src="img/title_logo.gif" /></td>
  </tr>
  <tr>
    <td height="30"><hr align="left" width="100%" /></td>
  </tr>
  <tr>
    <td><p class="STYLE4">《我是车神×奔跑吧兄弟》 - 强强联手，重磅出击！</p>
    <p class="STYLE6">[2014.11.21] Ver 2.0.0 更新 </p></td>
  </tr>
  <tr>
    <td> <p class="STYLE7">浙江卫视推出的全新户外真人秀节目《奔跑吧兄弟》热播进行中，本次“跑男”将入驻《我是车神》，强强组合打造史上最强3D赛车游戏：《奔跑吧兄弟：我是车神》。让你体验一场与众不同的竞速之旅！<br />
      跑起来，你能赢！</p>    </td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr>
     <td><img src="img/BANNER-2.png" width="400" height="80" /></td>
   </tr>
   <tr>
    <td><p class="STYLE10">全明星入驻游戏，闪亮变身新车神！</p></td>
  </tr>
  <tr>
    <td> <p class="STYLE7">《奔跑吧兄弟》三位天皇巨星——邓超、王宝强、Angelababy，化身为全新领航员在《我是车神》中闪亮登场！<br />
    拥有”警车开道“炫酷技能，助你赛道狂飙！</p>    </td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr>
    <td><img src="img/BANNER-1.png" width="400" height="80" /></td>
  </tr>
   <tr>
    <td><p class="STYLE10">决战首尔·撕牌大战！</p></td>
  </tr>
  <tr>
    <td> <p class="STYLE7">“奔跑团”集结韩国首尔，上演“决战首尔-撕牌大战”，赢取比赛即有机会获得明星的名牌，集齐一定数量的名牌即可免费激活你爱的明星！<br />
    车神争霸韩国站，比赛一触即发。众多明星助阵，精彩、刺激、激烈的撕牌大战等你体验！</p>    </td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr>
    <td><p class="STYLE4 STYLE9">更多精彩活动，请参看游戏主画面提示</p></td>
  </tr>
</table>
</body>
</html>
